<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185063246347-1pq9usptancibfhujk7k1kco0ai8ql9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185063246347-1pq9usptancibfhujk7k1kco0ai8ql9s</string>
	<key>API_KEY</key>
	<string>AIzaSyC_HzzoqkBpeP12TE-QlI4h8rCYc7bxObs</string>
	<key>GCM_SENDER_ID</key>
	<string>185063246347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AFGGlobalShippings</string>
	<key>PROJECT_ID</key>
	<string>afg-shipping</string>
	<key>STORAGE_BUCKET</key>
	<string>afg-shipping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185063246347:ios:43f9eb550ec519a5a0950e</string>
</dict>
</plist>